
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
}

.login{
    margin-top: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    background-color: rgb(252, 243, 128);
    width: 50%;
    margin-left: 25%;
}

.login_header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login_header img{
    width: 200px;
}

.login_header h1{
    color: #333;
    font-size: 1.5em;
}

.login_input{
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login_button{
    background-color: #000000;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: len;
    max-width: 300px;
    padding: 15px;
    width: 100%;
}

.login_button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

body{
    background-color: #65fff7;
}